ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    li {
        float: left;

        a {
            display: block;
            color: #fff;
            text-align: center;
            padding: 14px 22px;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                background: #444;
            }
        }
    } 
}

