header {
    h1 {
        margin-left: 20px;
        color: #E74C3C;
        background-image: url('assets/img/angular.png');
        background-position: left center;
        background-size: contain;
        background-repeat: no-repeat;
        padding-left: 40px;
    }
}

section {
    padding: 0 20px;
}